

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #2FB872 !important;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    font-weight: 500 !important;
    margin-right: 10px !important;
}

.card-type:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgb(111, 111, 111);
}

.a-art-type {
    color: black !important;
    text-decoration: none !important;
}

.submit-custom {
    margin-left: 10px;
    font-weight: 400 !important;
    border: #2FB872 1px solid !important;
    color: #2FB872 !important;
}

.add-custom:hover {
    background-color: #EAD2A8 !important;
    color: #000 !important;
}

.add-custom {
    width: 50% !important;
    margin-right: 20%;
    font-weight: 500 !important;
    border: #e4b769 1px solid !important;
    color: #e4b769 !important;
}

.submit-custom:hover {
    background-color: #2FB872 !important;
    color: #fff !important;
}

.btn-primary {
    color: #fff;
    background-color: #007bff !important;
    border-color: #007bff !important;
    transition: 0.2s !important;
}

.btn-warning {
    color: #000 !important;
    background-color: #ffe0af !important;
    border-color: #ffe0af !important;
    transition: 0.2s !important;
    font-weight: 500 !important;
}

.btn-success {
    color: #fff;
    background-color: #2FB872 !important;
    border-color: #2FB872 !important;
    transition: 0.2s !important;
}

.btn-info {
    color: #fff !important;
    transition: 0.2s !important;
}

.btn-danger {
    color: #fff;
    transition: 0.2s !important;
    background-color: #dc3545 !important;
}

.btn-primary:hover,.btn-success:hover,.btn-danger:hover,.btn-info:hover,.btn-warning:hover {
    transform: scale(1.03);
}

.scale-hover {
    transition: 0.2s;
}

.scale-hover:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px rgb(198, 198, 198);
}

.span-of-input-group {
    width: 120px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius:  0 !important;
    border: #dedede 1px solid !important;
    color: #000 !important;
    background-color: #dedede !important;
    font-weight: 500 !important;
    height: 100% !important;

}

.bolder-border {
    border: #c6c6c6 1px solid !important;
    border-radius: 8px;
    box-shadow: 0 0 5px rgb(198, 198, 198);
}

.btn-grey {
    background-color: #dedede !important;
    height: 50px;
    font-weight: 500 !important;
} 

.btn-grey:hover {
    background-color: #bababa !important;
}



.checked-custom:checked {
    background-color: #2FB872 !important;
    border: #2FB872 1px solid !important;
    box-shadow: 0 0 5px #82ffbe;

}
 .checked-custom:active {
    background-color: #2FB872 !important;
    border: #2FB872 1px solid !important;
    box-shadow: 0 0 5px #82ffbe;
 }

 .btn-outline-success {
    border:#2FB872 1px solid !important;
    color:#2FB872 !important;
    background-color: transparent !important;
 }

 .btn-outline-primary {
    border:#007bff 1px solid !important;
    color:#007bff !important;
    background-color: transparent !important;
 }

 .btn-outline-success:hover{
    color: #fff !important;
    background-color: #2FB872 !important;
    border-color: #2FB872 !important;
 }
 .btn-outline-primary:hover{
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
 }

 .btn {
    transition: 0.2s !important;
 }

 .btn:active {
    box-shadow: #bababa 1px;
    transform: scale(0.9);
 }

 .bg-green {
    border:#2FB872 1px solid !important;
    background-color:#2FB872 !important;
    color: #FFFFFF !important;
 }

 .bg-red {
    border:#dc3545 1px solid !important;
    background-color:#dc3545 !important;
    color: #FFFFFF !important;
 }

 .trigger {
    visibility:collapse;
 }

 /* Password input */
 .modal-css {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-css-container {
    background-color: #fff;
    border-radius: 20px;
    width: 600px;
    min-height: 200px;
    max-width: calc(100% -32px);
    position: relative;
}

.modal-css[closing] {
    display: flex;
    animation: slideInLeft 500ms forwards
}

.modal-css[closing-with-no-animation] {
    display: flex;
    animation: slideInLeft 1000ms forwards
}

@keyframes slideInLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.modal-css-header {
    background: #007bff;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    border-radius:  20px 20px 0 0;
}

.modal-css-body {
    margin-left: 30px;
}

.input-password-css {
    width: 80px;
    height: 80px;
    padding-bottom: 30px;
    border-radius: 10px;
    margin: 10px;
    border: #000 3px solid !important;
    font-size: 180px;
    line-height: 40px;
    color: #2FB872;
}

.wrong-password-text {
    color: #dc3545;
    font-weight: 500;
    font-size: 20px;
    margin-top: -50px;
    padding-bottom: 20px;
    text-align: center;
}

.close-modal {
    display: none;
}

.importMaterialList {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
    padding: 10px;

}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 20px
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e4e4e4; 
    border-radius: 20px
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b6b6b6; 
    border-radius: 20px
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .selected-item-mark {
    border: #2FB872 3px solid;
    border-radius: 10px;
    width: 0px !important;
    height: 50px;
    margin-right: 5px;
    margin-top: 8px;
  }


